<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.mobidev.android.framework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <receiver android:name="ua.com.mobidev.android.framework.connectivity.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.InternetMonitorService"/>

    </application>

</manifest>
